@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">PRT681 SOFTWARE ENGINEERING: PRACTICE</h2>
    <h3 class="text-primary">Hello world project:  just testing boostrap</h3>
    
    
    <h3> Lets test some button </h3>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    
</div>
