@{
    ViewData["Title"] = "";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PRT681 </h1>
    <p>Learn more about <a href="https://stapps.cdu.edu.au/apex/f?p=100:21:::::P21_SEARCH_YEAR,P21_SEARCH_UNIT,P21_SEARCH_VERSION:2025,PRT681" target="_blank" rel="noopener noreferrer">this course here</a>.</p>
</div>
